<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Item</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- <label for="task">Task:</label>
                <input type="text" id="task" name="task"><br><br>
                <label for="due_date">Due date:</label>
                <input type="text" id="task" name="due date"><br><br>
                <label for="is_completed">Is completed:</label>
                <input type="checkbox" id="is_completed" name="is_completed"><br><br>
                <label for="List">List:</label>
                <select name = "list"></select><br><br> -->
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</html>
